{% extends "base.html" %}
{% block title %}Editar mi perfil{% endblock %}
{% block content %}

<h2>{{ request.user.username }}</h2><br>
{% if profile.avatar %}
  <img src="{{ profile.avatar.url }}" alt="avatar" style="width: 150px; height: auto;"><br>

{% endif %}
<br>

<class="nav-item">
 
 <strong><h1>{{ profile.user }}</h1></strong><br>

 
  <a href="{% url 'home' %}" class="btn btn-logout">Salir</a>
   <a href="{% url 'perfil:edit_profile' %}" class="btn btn-logout">Editar perfil</a>
</class>
{% endblock %}
