# Ignorar carpetas de Python y Django
__pycache__/
*.pyc

# Ignorar base de datos local y archivos media
db.sqlite3
media/

# Ignorar Entornos Virtuales
venv/

# Ignorar archivos del sistema operativo
.DS_Store

# Ignorar archivos de migraciones (a menos que sean migraciones iniciales)
*/migrations/0001_initial.py

# Ignorar carpetas de estáticos de producción
staticfiles/

# Ignora los cambios locales en el db.sqlite3
git restore --staged db.sqlite3

# Ignorar archivos de Django y Python
__pycache__/
*.pyc
db.sqlite3
*.sqlite3
.env
/venv/